[submodule "lib/ILI9341_t3"]
	path = lib/ILI9341_t3
	url = https://github.com/PaulStoffregen/ILI9341_t3
[submodule "lib/Average"]
	path = lib/Average
	url = git@github.com:MajenkoLibraries/Average.git
